---
layout: page
title: Random Thoughts
permalink: /blog-categories/
---
<div class="page-content-wrapper">
  <div class="plug">
      <div class="section-head">{{ page.title }}</div>
  </div>

 <div class="topic">
      <div class="article">
        <div class="article-body">

          <div>
            {% for category in site.categories %}
              <div>
                {% capture category_name %}{{ category | first }}{% endcapture %}
                <div id="#{{ category_name | slugize }}"></div>           
                <div class="card-category">{{ category_name }}</div>
                <a name="{{ category_name | slugize }}"></a>
                {% for post in site.categories[category_name] %}
                <article class="archive-item">
                  <div class="card-entry"><a href="{{ post.url }}">{{ post.title }}</a></div>

                  <div class="card-description">{{ post.description }}</div>
                </article>
                {% endfor %}
              </div>
            {% endfor %}
            </div>          
        </div>
     </div>
  </div>