<nav>

  <div class="nav-container">
    <ul class="menu-main">
      <li><a href="{{baseurl}}/">Home</a></li>  
      <li><a href="{{baseurl}}/history/">History</a>
        <div class="menu-sub">
          <ul>
              <li><a href="{{baseurl}}/servetus/home/">Michael Servetus</a></li>
              <li><a href="{{baseurl}}/tyndale/home/">William Tyndale</a></li>
              <li><a href="{{baseurl}}/ware/home/">John Ware</a></li>
              <li><a href="{{baseurl}}/haudenosaunee/home/">Haudenosaunee Confederacy</a></li>
          </ul>
        </div> 
      </li>
      {% comment %} <li><a href="{{baseurl}}/latex/">LaTeX</a></li> {% endcomment %}
      <li><a href="{{baseurl}}/blog-categories/">Blog</a>
        <div class="menu-sub">
          <ul>
            <li><a href="{{baseurl}}/documentation/">Documentation</a></li>
            <li><a href="{{baseurl}}/culture/">Culture</a></li>  
            <li><a href="{{baseurl}}/usability/">Usability</a></li>
            <li><a href="{{baseurl}}/humour/">Humour</a></li>
          </ul>
        </div> 
      </li>
      <li><a href="{{baseurl}}/about/">About</a></li>
    </ul>    
  </div>
</nav>